<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>대구한의대 잡스크래퍼</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
    />
  </head>
  <body>
    <header class="container">
      <h1>대구한의대 잡스크래퍼 {{title}}</h1>
      <p>인크루트, 잡코리아, 인디드 등 구직 내용을 확인하세요.</p>
    </header>
    <main class="container">
      <form action="/search">
        <input
          type="text"
          placeholder="회사명이나 직종을 입력해주세요."
          name="keyword"
        />
        <button>검색</button>
      </form>
    </main>
    <footer class="container">
      copyright @ dhu_scapper All rights reseved
    </footer>
  </body>
</html>
